Run Query: Find all the tracks whose name starts with 'All'. **How many total records there are for this query?**

In [ ]:
select * from tracks where lower(name) like 'you%'

Run Query: Find all the customer emails that start with "J" and are from gmail.com.

In [ ]:
select * from customers where lower(email) like 'j%' and  lower(email)  like  '%gmail.com'

Run Query: Find the albums with 12 or more tracks.

In [ ]:
select album_id, count(t.id) from albums join tracks t on albums.id = t.album_id
                             group by  album_id having count(t.id)>11

Create a list of album titles and the unit prices for the artist "Audioslave".

In [ ]:
select a.name, album_id, track_id, t.unit_price from albums join artists a on albums.artist_id = a.id
    join tracks t on albums.id = t.album_id join invoice_lines il on t.id = il.track_id
where a.name ='Audioslave'

Using a subquery, find the names of all the tracks for the album "Californication".

In [ ]:
SELECT Name,AlbumIDFROM TracksWHERE AlbumId IN (SELECT AlbumIdFROM AlbumsWHERE Title = "Californication")

Find the total number of invoices for each customer along with the customer's full name, city and email.

In [ ]:
select c.CustomerId, c.FirstName, c.LastName, c.City, c.Email, COUNT(i.InvoiceId) from Customers c join Invoices i on c.CustomerId = i.CustomerId Group by c.CustomerId;

After running the query described above, what is the email address of the 5th person, František Wichterlová?

In [ ]:
frantisekw@jetbrains.com

Retrieve the track name, album, artistID, and trackID for all the albums.

In [ ]:
select t.Name, a.Title, ar.Name, t.TrackId from Artists ar inner join Albums a on ar.ArtistId = a.ArtistId inner join Tracks t on a.AlbumId = t.AlbumId;

What is the song title of trackID 12 from the "For Those About to Rock We Salute You" album? Enter the answer below.

What is the song title of trackID 12 from the "For Those About to Rock We Salute You" ?

In [ ]:
Breaking The Rules

Retrieve a list with the managers last name, and the last name of the employees who report to him or her. **Who are the reports for the manager named Mitchell?**

In [ ]:
select mgr.LastName Manager, e.LastName Employee from Employees e left join Employees mgr on e.ReportsTo = mgr.EmployeeId

Find the name and ID of the artists who do not have albums.

In [ ]:
King, Callahan

Use a UNION to create a list of all the employee's and customer's first names and last names ordered by the last name in descending order. **Determine what is the last name of the 6th record** Remember to order things in descending order to be sure to get the correct answer.

In [ ]:
select e.FirstName, e.LastName from Employees e UNION select c.FirstName, c.LastName from Customers c order by c.LastName DESC

See if there are any customers who have a different city listed in their billing city versus their customer city.

In [ ]:
select c.CustomerId, c.FirstName, c.LastName, c.City from Customers c join Invoices i on c.CustomerId = i.CustomerId where c.City <> i.BillingCity;