Run Query: Find all the tracks whose name starts with 'All'. **How many total records there are for this query?**

In [ ]:
select * from tracks where lower(name) like 'you%'

Run Query: Find all the customer emails that start with "J" and are from gmail.com.

In [ ]:
select * from customers where lower(email) like 'j%' and  lower(email)  like  '%gmail.com'

Run Query: Find the albums with 12 or more tracks.

In [ ]:
select album_id, count(t.id) from albums join tracks t on albums.id = t.album_id
                             group by  album_id having count(t.id)>11

Create a list of album titles and the unit prices for the artist "Audioslave".

In [ ]:
select a.name, album_id, track_id, t.unit_price from albums join artists a on albums.artist_id = a.id
    join tracks t on albums.id = t.album_id join invoice_lines il on t.id = il.track_id
where a.name ='Audioslave'

Using a subquery, find the names of all the tracks for the album "Californication".

In [ ]:
SELECT Name,album_id FROM tracks WHERE album_id IN (SELECT album_id FROM albums where lower(title) like 'californication')

Find the total number of invoices for each customer along with the customer's full name, city and email.

In [ ]:
select customer_id,  first_name,last_name,email, city,  COUNT(i.id) from Customers join invoices i on customers.id = i.customer_id group by customer_id, email, last_name, first_name,city

After running the query described above, what is the email address of the 5th person, František Wichterlová?

In [ ]:
frantisekw@jetbrains.com

Retrieve the track name, album, artistID, and trackID for all the albums.

In [ ]:
select t.name, a.title, t.id from artists inner join albums a on artists.id = a.artist_id inner join tracks t on a.id = t.album_id

What is the song title of trackID 12 from the "For Those About to Rock We Salute You" ?

In [ ]:
Breaking The Rules

Retrieve a list with the managers last name, and the last name of the employees who report to him or her. **Who are the reports for the manager named Mitchell?**

In [ ]:
select mgr.last_name manager, e.last_name employee from employees e left join employees mgr on e.reports_to = mgr.id

Find the name and ID of the artists who do not have albums.

In [ ]:
King, Callahan

Use a UNION to create a list of all the employee's and customer's first names and last names ordered by the last name in descending order. **Determine what is the last name of the 6th record** Remember to order things in descending order to be sure to get the correct answer.

In [ ]:
select e.first_name, e.last_name from Employees e UNION select c.first_name, c.last_name from Customers c order by last_name DESC

See if there are any customers who have a different city listed in their billing city versus their customer city.

In [ ]:
select c.id, c.first_name, c.last_name, c.City, i.billing_city from Customers c join invoices i on c.id = i.customer_id where city <> billing_city